<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
	body {
		background-image: url(https://i.imgur.com/9D2UN9M.png);
		background-size: cover;
		width: 100%;
		height: 500px;
		background-position: 50% 50%;
	}
	
	div.transbox {
		padding: 50px;
		padding-top: 25px;
		height: 565px;
		margin: 50px;
		background-color: #000000;
		border: 1px solid black;
		margin: 5%;
		font-weight: bold;
		color: #ffffff;
	}

	img {
		border-radius: 20%;
	}

	</style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
	<center>
		<img src = https://i.imgur.com/tDrk18Z.jpg  width="200" height="250">  
    	<div class = "transbox"> 
     	 <p>  	
       		<h1>Kenalin, Aku {{ name }}</h1>
    		<article>NPM : {{ npm }}</article>
    		<article>Angkatan : {{ angkatan }}</article>
    		<article>Umur : {{ age }} tahun</article>
    		<article>Kampus : {{ kuliah }}</article>
    		<article>Hobi : {{ hobi }}</article>
    		<article>About me : {{ deskripsi }}</article>
     	 </p>
    	</div>
	</center>
</body>
</html>
